
.section-slider{
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 192, 203, 0.521);
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
        height: 500px ;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    margin-right: 40px;
    border: 2px solid #C20064;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-bnt:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #F249A0;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    margin-right: 40px;
    border: 2px solid #C20064;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-bnt1{
    background: #F249A0;
}

#radio2:checked ~ .navigation-auto .auto-bnt2{
    background: #F249A0;
}

#radio3:checked ~ .navigation-auto .auto-bnt3{
    background: #F249A0;
}

#radio4:checked ~ .navigation-auto .auto-bnt4{
    background: #F249A0;
}


/*responsividade*/
@media (max-width: 999px) {
    .slide img{
        width: 420px;
        height: 475px;
    }

    .navigation-manual{
        position: absolute;
        width: 400px;
        margin-top: -50px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto{
        position: absolute;
        display: flex;
        width: 400px;
        justify-content: center;
        margin-top: 450px;
    }
}    
